@using Microsoft.IdentityModel.Tokens
@{
ViewData["Title"] = "Home Page";
}

@model BookTracker.Models.BookViewModel;

@{
int finished = 0;
int pageCount = 0;
int pagesRead = 0;
foreach (var book in Model.Books)
{
if (book.TotalPages == book.PagesRead)
{
finished++;
}
pageCount += book.TotalPages;
pagesRead += book.PagesRead;
}
}

<div class="container">
    <div class="row g-3 mb-5">
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="d-flex gap-3 px-4 py-3 info-div flex-grow-1 ">
                <div class="mt-2">
                    <div class="logo-card blue-logo d-flex justify-content-center align-items-center">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M4 19V6.2C4 5.0799 4 4.51984 4.21799 4.09202C4.40973 3.71569 4.71569 3.40973 5.09202 3.21799C5.51984 3 6.0799 3 7.2 3H16.8C17.9201 3 18.4802 3 18.908 3.21799C19.2843 3.40973 19.5903 3.71569 19.782 4.09202C20 4.51984 20 5.0799 20 6.2V17H6C4.89543 17 4 17.8954 4 19ZM4 19C4 20.1046 4.89543 21 6 21H20M9 7H15M9 11H15M19 17V21"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div>
                    <div class="outfit-font fw-bolder fs-2">@Model.Books.Count</div>
                    <div class="fs-6 text-grey fw-bold">TOTAL BOOKS</div>
                    <div class="fs-7 text-grey ">In Collection</div>
                </div>

            </div>
        </div>


        <div class="col-12 col-sm-6 col-xl-3">
            <div class="d-flex gap-3 px-4 py-3 info-div flex-grow-1">
                <div class="mt-2">
                    <div class="logo-card green-logo d-flex justify-content-center align-items-center">

                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle>
                                <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </div>
                </div>


                <div>
                    <div class="outfit-font fw-bolder fs-2">
                        @finished
                    </div>
                    <div class="fs-6 text-grey fw-bold">FINISHED</div>
                    <div class="fs-7 text-grey ">Read Completely</div>
                </div>

            </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
            <div class="d-flex gap-3 px-4 py-3 info-div flex-grow-1">
                <div class="mt-2">
                    <div class="logo-card yellow-logo d-flex justify-content-center align-items-center"><svg
                            viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="_x3C_Layer_x3E_" version="1.1"
                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="page_x2C__document_x2C__my_page_x2C__empty_page">
                                    <g id="XMLID_2942_">
                                        <g id="XMLID_2943_">
                                            <g id="XMLID_2944_">
                                                <g id="XMLID_2945_">
                                                    <polyline fill="none" id="XMLID_2947_"
                                                        points=" 21.5,1.5 4.5,1.5 4.5,30.5 27.5,30.5 27.5,7.5 "
                                                        stroke="#455A64" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-miterlimit="10"></polyline>
                                                    <polyline fill="none" id="XMLID_2946_"
                                                        points=" 21.5,1.5 27.479,7.5 21.5,7.5 21.5,4 " stroke="#455A64"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-miterlimit="10"></polyline>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="XMLID_2936_">
                                        <g id="XMLID_2937_">
                                            <g id="XMLID_2938_">
                                                <g id="XMLID_2939_">
                                                    <polyline fill="none" id="XMLID_2941_"
                                                        points=" 21.5,1.5 4.5,1.5 4.5,30.5 27.5,30.5 27.5,7.5 "
                                                        stroke="#263238" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-miterlimit="10"></polyline>
                                                    <polyline fill="none" id="XMLID_2940_"
                                                        points=" 21.5,1.5 27.479,7.5 21.5,7.5 21.5,4 " stroke="#263238"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-miterlimit="10"></polyline>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg></div>
                </div>
                <div>
                    <div class="outfit-font fw-bolder fs-2">@pageCount</div>
                    <div class="fs-6 text-grey fw-bold">PAGE COUNT</div>
                    <div class="fs-7 text-grey ">Cumulative Library</div>
                </div>

            </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
            <div class="d-flex gap-3 px-4 py-3 info-div flex-grow-1">
                <div class="mt-2">
                    <div class="logo-card purple-logo d-flex justify-content-center align-items-center"><svg
                            viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: none;
                                            stroke: #020202;
                                            stroke-miterlimit: 10;
                                            stroke-width: 1.86px;
                                        }
                                    </style>
                                </defs>
                                <polygon class="cls-1"
                                    points="8.29 1.71 18.5 1.71 13.86 9.14 17.57 9.14 7.36 20.29 9.21 12.86 5.5 12.86 8.29 1.71">
                                </polygon>
                            </g>
                        </svg></div>
                </div>
                <div>
                    <div class="outfit-font fw-bolder fs-2">@pagesRead</div>
                    <div class="fs-6 text-grey fw-bold">PAGES READ</div>
                    <div class="fs-7 text-grey ">Lifetime Progress</div>
                </div>

            </div>
        </div>
    </div>

    <br>
    <div class="d-flex justify-content-between align-items-end mb-4">
        <div>
            <div class="fw-bolder display-5 outfit-font mb-2">Your Shelf</div>
            <div class="text-grey fw-bold">Managing <span id="literary-works">0</span> literary works</div>
        </div>

        <div class="d-flex justify-content-center btn-group-wrp px-3 py-1">
            <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" checked>
                <label class="btn btn-outline-primary fs-6" for="all">All</label>

                <input type="radio" class="btn-check" name="btnradio" id="read" autocomplete="off">
                <label class="btn btn-outline-primary" for="read">Read</label>

                <input type="radio" class="btn-check" name="btnradio" id="unread" autocomplete="off">
                <label class="btn btn-outline-primary" for="unread">Unread</label>
            </div>
        </div>

    </div>


    <div class="row g-4">
        @if (Model.Books.IsNullOrEmpty())
        {
        <div class="col-12 ">
            <div class="shelf-empty-ctr bg-white d-flex flex-column justify-content-center align-items-center p-5 mt-4">
                <div class="circle-book-logo rounded-circle mb-2">
                    <svg viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.24945 17.3586C7.59135 17.472 6.91604 17.3005 6.39185 16.8868C5.86766 16.473 5.54396 15.856 5.50145 15.1896V8.02759C5.47083 7.27605 5.92795 6.59038 6.63345 6.32959C8.7056 5.56915 11.032 6.15154 12.5014 7.79859V18.0196C11.5164 17.1916 9.81445 17.1416 8.24945 17.3586Z"
                                stroke="#CBD5E1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.7534 17.3586C17.4115 17.472 18.0869 17.3005 18.611 16.8868C19.1352 16.473 19.4589 15.856 19.5014 15.1896V8.02759C19.5321 7.27605 19.075 6.59038 18.3694 6.32959C16.2973 5.56915 13.9709 6.15154 12.5014 7.79859V18.0196C13.4864 17.1916 15.1884 17.1416 16.7534 17.3586Z"
                                stroke="#CBD5E1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M10.0014 11.7695C10.4157 11.7695 10.7514 11.4337 10.7514 11.0195C10.7514 10.6053 10.4157 10.2695 10.0014 10.2695V11.7695ZM8.00145 10.2695C7.58724 10.2695 7.25145 10.6053 7.25145 11.0195C7.25145 11.4337 7.58724 11.7695 8.00145 11.7695V10.2695ZM10.0014 13.7695C10.4157 13.7695 10.7514 13.4337 10.7514 13.0195C10.7514 12.6053 10.4157 12.2695 10.0014 12.2695V13.7695ZM8.00145 12.2695C7.58724 12.2695 7.25145 12.6053 7.25145 13.0195C7.25145 13.4337 7.58724 13.7695 8.00145 13.7695V12.2695ZM17.0014 11.7695C17.4157 11.7695 17.7514 11.4337 17.7514 11.0195C17.7514 10.6053 17.4157 10.2695 17.0014 10.2695V11.7695ZM15.0014 10.2695C14.5872 10.2695 14.2514 10.6053 14.2514 11.0195C14.2514 11.4337 14.5872 11.7695 15.0014 11.7695V10.2695ZM17.0014 13.7695C17.4157 13.7695 17.7514 13.4337 17.7514 13.0195C17.7514 12.6053 17.4157 12.2695 17.0014 12.2695V13.7695ZM15.0014 12.2695C14.5872 12.2695 14.2514 12.6053 14.2514 13.0195C14.2514 13.4337 14.5872 13.7695 15.0014 13.7695V12.2695ZM10.0014 10.2695H8.00145V11.7695H10.0014V10.2695ZM10.0014 12.2695H8.00145V13.7695H10.0014V12.2695ZM17.0014 10.2695H15.0014V11.7695H17.0014V10.2695ZM17.0014 12.2695H15.0014V13.7695H17.0014V12.2695Z"
                                fill="#CBD5E1"></path>
                        </g>
                    </svg>
                </div>
                <div class="outfit-font fw-bolder fs-3 mb-2">Shelf is Empty</div>
                <div class="text-center fs-6 w-50 text-grey mb-3">Start building your collection by recording your
                    favorite
                    titles
                    and tracking
                    your
                    reading progress.</div>

                <button type="button" class="px-5 py-3 fw-bolder" data-bs-toggle="modal" data-bs-target="#formModal">Add
                    Your First Book</button>
            </div>
        </div>
        }



        @foreach (var book in Model.Books)
        {
        <div class="book-card col-12 col-sm-6 col-xl-3">
            <div class="info-div bg-white py-4 px-4">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-md">
                        <span class="title-display outfit-font fs-5 fw-bolder">@book.Title</span>
                        <br>
                        <span class="author-display fs-6 fw-bold text-purple">@book.Author</span>
                    </div>

                    <label class="mb-2">
                        <input disabled type="checkbox" id="read-checkbox" @(book.PagesRead==book.TotalPages ? "checked"
                            : "" )>
                        <span id="read-check-ctr"
                            class="rounded-circle d-flex align-items-center justify-content-center">
                            <svg id="clock-logo" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M12 7V12H15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <svg id="check-logo" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L12.7348 11.2045L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z"
                                        fill="#1C274C"></path>
                                </g>
                            </svg>
                        </span>

                    </label>
                </div>
                <div class="d-flex mt-2 gap-2">
                    <div class="fs-7 fw-bolder text-grey info-card-data px-3 py-1 d-flex align-items-center">
                        <svg class="me-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M3 9H21M17 13.0014L7 13M10.3333 17.0005L7 17M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                        <span>@book.Year</span>
                    </div>
                    <div class="fs-7 fw-bolder text-grey info-card-data px-3 py-1 d-flex align-items-center">
                        <svg class="me-1" id="book-logo" viewBox="0 -0.5 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.24945 17.3586C7.59135 17.472 6.91604 17.3005 6.39185 16.8868C5.86766 16.473 5.54396 15.856 5.50145 15.1896V8.02759C5.47083 7.27605 5.92795 6.59038 6.63345 6.32959C8.7056 5.56915 11.032 6.15154 12.5014 7.79859V18.0196C11.5164 17.1916 9.81445 17.1416 8.24945 17.3586Z"
                                    stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M16.7534 17.3586C17.4115 17.472 18.0869 17.3005 18.611 16.8868C19.1352 16.473 19.4589 15.856 19.5014 15.1896V8.02759C19.5321 7.27605 19.075 6.59038 18.3694 6.32959C16.2973 5.56915 13.9709 6.15154 12.5014 7.79859V18.0196C13.4864 17.1916 15.1884 17.1416 16.7534 17.3586Z"
                                    stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                    d="M10.0014 11.7695C10.4157 11.7695 10.7514 11.4337 10.7514 11.0195C10.7514 10.6053 10.4157 10.2695 10.0014 10.2695V11.7695ZM8.00145 10.2695C7.58724 10.2695 7.25145 10.6053 7.25145 11.0195C7.25145 11.4337 7.58724 11.7695 8.00145 11.7695V10.2695ZM10.0014 13.7695C10.4157 13.7695 10.7514 13.4337 10.7514 13.0195C10.7514 12.6053 10.4157 12.2695 10.0014 12.2695V13.7695ZM8.00145 12.2695C7.58724 12.2695 7.25145 12.6053 7.25145 13.0195C7.25145 13.4337 7.58724 13.7695 8.00145 13.7695V12.2695ZM17.0014 11.7695C17.4157 11.7695 17.7514 11.4337 17.7514 11.0195C17.7514 10.6053 17.4157 10.2695 17.0014 10.2695V11.7695ZM15.0014 10.2695C14.5872 10.2695 14.2514 10.6053 14.2514 11.0195C14.2514 11.4337 14.5872 11.7695 15.0014 11.7695V10.2695ZM17.0014 13.7695C17.4157 13.7695 17.7514 13.4337 17.7514 13.0195C17.7514 12.6053 17.4157 12.2695 17.0014 12.2695V13.7695ZM15.0014 12.2695C14.5872 12.2695 14.2514 12.6053 14.2514 13.0195C14.2514 13.4337 14.5872 13.7695 15.0014 13.7695V12.2695ZM10.0014 10.2695H8.00145V11.7695H10.0014V10.2695ZM10.0014 12.2695H8.00145V13.7695H10.0014V12.2695ZM17.0014 10.2695H15.0014V11.7695H17.0014V10.2695ZM17.0014 12.2695H15.0014V13.7695H17.0014V12.2695Z"
                                    fill="#fff"></path>
                            </g>
                        </svg>
                        <span>@book.TotalPages PAGES</span>
                    </div>
                </div>

                <div class="px-1">
                    <div class=" mt-4 d-flex justify-content-between">
                        <div class="text-grey fw-bold fs-6">PROGRESS</div>
                        <div class="text-black fw-bold fs-6">@book.PagesRead OF @book.TotalPages</div>
                    </div>

                    @{
                    int percentage = (int)(book.PagesRead / (float)book.TotalPages * 100);
                    }

                    <div class="progress mt-2 mb-4">
                        <div class="progress-bar" role="progressbar" style="width: @percentage%;"
                            aria-valuenow="@percentage" aria-valuemin="0" aria-valuemax="100">@percentage%</div>
                    </div>


                    <div class="fs-7 fw-bolder text-grey mb-4">
                        <div>@book.Description</div>
                    </div>

                    <div class="d-flex gap-1 justify-content-center align-items-stretch">
                        <div class="edit-btn-ctr flex-grow-1">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#formModal"
                                class="edit-btn btn py-2 btn-dark h-100 fs-6 fw-bold w-100 d-flex align-items-center justify-content-center gap-2"
                                data-id="@book.Id">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <title></title>
                                        <g id="Complete">
                                            <g id="edit">
                                                <g>
                                                    <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8"
                                                        fill="none" stroke="#fff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2"></path>
                                                    <polygon fill="none"
                                                        points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
                                                        stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"></polygon>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                Edit
                            </button>
                        </div>
                        <div class="delete-btn-ctr">
                            <a type="button" class="btn py-2 px-2 d-flex justify-content-center align-items-center"
                                asp-action="Delete" asp-route-id="@book.Id">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M5 7.5H19L18 21H6L5 7.5Z" stroke="#000000" stroke-linejoin="round">
                                        </path>
                                        <path d="M15.5 9.5L15 19" stroke="#000000" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M12 9.5V19" stroke="#000000" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M8.5 9.5L9 19" stroke="#000000" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M16 5H19C20.1046 5 21 5.89543 21 7V7.5H3V7C3 5.89543 3.89543 5 5 5H8M16 5L15 3H9L8 5M16 5H8"
                                            stroke="#000000" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="fs-8 fw-bolder text-success mt-3 text-nowrap overflow-hidden">
                    <div>Id: @book.Id</div>
                </div>
            </div>

        </div>
        }
    </div>
</div>

<div class="modal fade w-100" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered">
        <div class="modal-content px-3 py-2">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-4 fw-bolder outfit-font" id="exampleModalLabel">Book Entry</h1>
            </div>
            <div class="modal-body">

                <form id="bookForm" method="post">
                    <input type="hidden" asp-for="NewBook.Id" id="book-id" />
                    <div class="d-flex gap-4 mb-3">
                        <div class="flex-grow-1">
                            <label for="book-title" class="form-label text-darkgrey fw-bolder fs-6">TITLE</label>
                            <input required placeholder="Song Of Ice and Fire" type="text"
                                class="form-control outfit-font  text-input px-4 py-3" id="book-title"
                                asp-for="NewBook.Title">
                        </div>
                        <div class="flex-grow-1">
                            <label for="book-author" class="form-label text-darkgrey fw-bolder fs-6 ">AUTHOR</label>
                            <input required placeholder="George R.R. Martin" type="text"
                                class="form-control outfit-font  text-input px-4 py-3" id="book-author"
                                asp-for="NewBook.Author">
                        </div>
                    </div>
                    <div class="d-flex gap-4 mb-3">
                        <div class="flex-grow-1 flex-shrink-1" style="flex-basis: 0;">
                            <label for="publish-year" class="form-label text-darkgrey fw-bolder fs-6">PUBLISH
                                YEAR</label>
                            <input required type="number" id="publish-year" min="1000" max="2026" value="2026"
                                class="form-control outfit-font  text-input px-4 py-3" placeholder="Enter a year"
                                asp-for="NewBook.Year">
                        </div>

                        <div class="flex-grow-1 flex-shrink-1" style="flex-basis: 0;">
                            <label for="total-pages" class="form-label text-darkgrey fw-bolder fs-6">TOTAL PAGES</label>
                            <input required type="number" min="1" value="1"
                                class="form-control outfit-font  text-input px-4 py-3" id="total-pages"
                                placeholder="Enter a number" asp-for="NewBook.TotalPages">
                        </div>
                        <div class="flex-grow-1 flex-shrink-1" style="flex-basis: 0;">
                            <label for="pages-read" class="form-label text-darkgrey fw-bolder fs-6">PAGES READ</label>
                            <input required type="number" min="0" value="0"
                                class="form-control outfit-font  text-input px-4 py-3" id="pages-read"
                                placeholder="Enter a number" asp-for="NewBook.PagesRead">
                        </div>
                    </div>


                    <div class="mb-4">
                        <label for="synopsis" class="text-darkgrey fw-bolder fs-6">SYNOPSIS</label>
                        <textarea class="mt-1 form-control outfit-font  text-input px-4 py-3"
                            placeholder="Record a brief summary..." id="synopsis" style="height: 100px; resize: none;"
                            asp-for="NewBook.Description"></textarea>
                    </div>

                    <div class="d-flex justify-content-between gap-5 align-items-center checkbox-ctr px-4 py-3 mb-4">
                        <div>
                            <div class="fw-bold outfit-font fs-6"> Mark as Finished </div>
                            <div class="fw-bold text-darkgrey fs-7">Setting this to on will mark progress as 100%
                                complete.
                            </div>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" style="height: 25px; width: 50px;" type="checkbox"
                                role="switch" id="read-switch" style="position:relative; right: -10px">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer border-top-0 justify-content-center mb-3">
                <button type="button"
                    class="fw-bold py-3 border-0 cancel-btn btn btn-secondary flex-grow-1 flex-shrink-1"
                    style="flex-basis: 0;" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="bookForm"
                    class="fw-bold py-3 update-record-btn btn btn-dark btn-primary flex-grow-1 flex-shrink-1"
                    style="flex-basis: 0;">Submit Record</button>
            </div>
        </div>
    </div>
</div>
